<div class="right_col" role="main">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="x_title">
                  <h2>Assets</h2>
                  
                  <div class="clearfix"></div>
              </div>
              <div class="x_content">
        
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Status</th>
                              <th>Update Date</th>
                              <th>View</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row">1</th>
                              <td>Classroom</td>
                              <td>Active</td>
                              <td>20-Aug-2018</td>
                              <th><a routerLink="assetadd"><i class="fa fa-eye"></i></a></th>
                          </tr>
                          <tr>
                              <th scope="row">2</th>
                              <td>Toilets</td>
                              <td>Active</td>
                              <td>20-Aug-2018</td>
                              <th><a routerLink="assetadd"><i class="fa fa-eye"></i></a></th>
                          </tr>
                          <tr>
                              <th scope="row">3</th>
                              <td>Principal Room</td>
                              <td>Active</td>
                              <td>20-Aug-2018</td>
                              <th><a routerLink="assetadd"><i class="fa fa-eye"></i></a></th>
                          </tr>
                      </tbody>
                  </table>
        
              </div>
          </div>
        </div>
        </div>